<p>shopping-list-edit works!</p>
<form>
  <div class="row">
    <div class="col-9">
      <input type="text" class="form-control" placeholder="Ingredient name">
    </div>
    <div class="col-3">
      <input type="text" class="form-control" placeholder="Amount">
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-9">
      <button type="button" class="btn btn-success">Add</button>
      <button type="button" class="btn btn-danger">Delete</button>
      <button type="button" class="btn btn-warning">Clear</button>
    </div>
  </div>
</form>
