<!-- <p>recipe-list works!</p> -->
<hr>
<div class="row">
  <div class="col-xs-12">
    <button type="button" class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-sx-12">
    <div class="card" style="width: 18rem;" *ngFor="let rec of recipes">
      <img src="{{ rec.imagePath }}" class="card-img-top" alt="Shiro Image">
      <div class="card-body">
        <h5 class="card-title">{{ rec.name }}</h5>
        <p class="card-text">{{ rec.description }}</p>
        <p class="card-text">{{ rec.ingredients }}</p>
        <a href="#" class="btn btn-primary">Details</a>
      </div>
    </div>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
<!-- Scrollable modal -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
  Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        this is the body
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>

